*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */

/* set body fonts  */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
}
.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 60px;
     font-size: 20px;
    font-weight: bold;
    padding: 18px 36px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* main style  */
/* style header  */
header{
    background-color: #FFF8F3;
    padding-top: 40px;
}
nav{
    max-width: 1140px;
    width: 71%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /*make nav center of the header*/
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}
.nav-links{
    display: flex;
    gap: 51px;
    align-items: center;
}
.nav-links li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}

