*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style  */

/* set body fonts  */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
}
.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 15px;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.pera{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}

/* main style  */
/* style header  */
header{
    
    background: url(../images/developer.png),url(../images/header_bg.png), #FFF8F3;
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    padding-top: 40px;
}
nav{
    max-width: 1140px;
    width: 71%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /*make nav center of the header*/
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo span{
    color: #FD6E0A;
}
.nav-links{
    display: flex;
    gap: 51px;
    align-items: center;
}
.nav-links li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/* banner section  */
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0px 214px;
}
.banner-heading{
    max-width:618px;
    height: 504px;
}
#banner .banner-heading h2{
    font-size: 45px;
    font-weight:600;
    margin-bottom: 5px;
    color: #474747;
}
#banner .banner-heading h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: #181818;
}
#banner .banner-heading .pera{
    margin-bottom: 30px;
}
#banner .banner-button{
    display: flex;
    gap: 20px;
}
#banner .banner-img img{
    max-width: 584px;
    vertical-align: middle;/* remove bottom gap of image */
}
/* end of banner section  */

